Package: ipwebcam
Name: IP Webcam
Version: 1.0.3
Architecture: amd64
Section: video
Priority: optional
Maintainer: Charlie Martinez <cmartinez@quirinux.org>
Depends: ffmpeg, v4l2loopback-dkms, python3-tk, linux-headers-6.1.0-21-amd64 | linux-headers-amd64
Description: Usa el teléfono como cámara web
 Necesitas instalar también la app IP Webcam en tu teléfono Android (desde Google Play) o iPhone (desde App Store)
