[Desktop Entry]
Type=Application
Name=IP Webcam
Comment[en]=Use your phone as a webcam
Comment[es]=Usar teléfono como webcam
Comment[gl]=Usar o móbil como cámara web
Comment[fr]=Utiliser le téléphone comme webcam
Comment[it]=Usa il telefono come webcam
Comment[de]=Telefon als Webcam verwenden
Comment[pt]=Usar o telefone como webcam


Icon=/usr/share/icons/ipwebcam.png
Exec=ipwebcam
Type=Application
Categories=Video;
Terminal=false
NoDisplay=false
StartupNotify=true
Encoding=UTF-8
